<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hope</title>
    <style>
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .navbar {
            background-color: #6f5045;
            overflow: hidden;
        }

        .navbar ul {
            display: flex;
        }

        .navbar li {
            flex: 1;
        }

        .navbar a {
            display: block;
            color: white;
            text-align: center;
            font-family: 'Book Antiqua', serif;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #a08674;
            color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li><a href="/home">home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
        <div class="element-content">
            
        </div>
    </div>
</body>
</html>
