<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        /* CSS styles for the form and slide buttons */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .slide-buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .slide-buttons button {
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .slide-buttons button:hover {
        background-color: #ccc;
    }

    .slide-buttons button.active {
        background-color: #6f5045;
        color: white;
    }

    .signup-container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 600px;
    }

    .left-block {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signupform {
        width: 80%;
        padding: 20px;
        border-radius: 10px;
        background-color: #f2f2f2;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: none; /* Initially hidden */
    }

    .signupform.active {
        display: block; /* Display when active */
    }

    .signupform h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .signupform input[type="text"],
    .signupform input[type="password"], 
    .signupform input[type="email"],
    .signupform input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .signupform button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #6f5045;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .signupform button:hover {
        background-color: #a08674;
    }

    .right-block {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6f5045;
        color: white;
    }

    .right-block h2 {
        font-size: 24px;
    }

    .password-toggle {
        position: relative;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .password-toggle img {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        cursor: pointer;
        margin-right: 5px;
    }

    </style>
</head>
<body>
    <%- include('navbar') %>
    <div class="main">
        <div class="slide-buttons">
            <button id="donorBtn" class="active" onclick="showDonorForm()">Donor</button>
            <button id="orgBtn" onclick="showOrgForm()">Organisation</button>
        </div>
        <div class="signup-container">
            <div class="left-block">
                <div class="signupform" id="donorForm">
                    <h2>Donor Signup</h2>
                    <form action="/donorsignup" method="post" id="donor_signup_form">
                        <input type="text" name="name" placeholder="Name" required> <br>
                        <input type="email" name="email" placeholder="Email" required> <br>
                        <% if (emailstatusDonor) { %>
                            <p style="color: red; padding-left: 60px;">email already exist </p>
                        <% } %>
                        <input type="number" name="mobile" placeholder="Mobile" required><br>
                        <% if (mobilestatusDonor) { %>
                            <p style="color: red; padding-left: 60px;">mobile already exist </p>
                        <% } %>
                        <input type="text" name="username" placeholder="Username" required> <br>
                        <% if (usernamestatusDonor) { %>
                            <p style="color: red; padding-left: 60px;">username already exist </p>
                        <% } %>
                        <input type="hidden" name="role" value="donor">
                        <div class="password-toggle">
                            <input type="password" name="password" id="donor_password" placeholder="Password" required>
                            <img src="images/eye-icon-cross.png" onclick="togglePasswordVisibility('donor_password')" alt="Toggle Password">
                        </div>
                        <div class="password-toggle">
                            <input type="password" name="confirm_password" id="donor_confirm_password" placeholder="Confirm Password" required>
                            <img src="images/eye-icon-cross.png" onclick="togglePasswordVisibility('donor_confirm_password')" alt="Toggle Password">
                        </div>
                        <button type="submit">Signup</button>
                    </form>
                    <p style="font-family: 'Book Antiqua', serif;"> have an account? <a href="/login" style="color: #6f5045;">login</a></p>
                </div>
                
                <div class="signupform" id="orgForm">
                    <h2>Organisation Signup</h2>
                    <form action="/orgsignup" method="post">
                        <input type="text" name="orgname" placeholder="Organisation Name" required> <br>
                        <% if (orgnamestatus) { %>
                            <p style="color: red; padding-left: 60px;">organisation name already exist </p>
                        <% } %>
                        <input type="number" name="orgmobile" placeholder="Mobile" required> <br>
                        <% if (mobilestatus) { %>
                            <p style="color: red; padding-left: 60px;">mobile already exists </p>
                        <% } %>
                        <input type="email" name="orgemail" placeholder="Email" required> <br>
                        <% if (emailstatus) { %>
                            <p style="color: red; padding-left: 60px;">email already exist </p>
                        <% } %>
                        <input type="text" name="username" placeholder="Username" required> <br>
                        <% if (usernamestatus) { %>
                            <p style="color: red; padding-left: 60px;">username already exist </p>
                        <% } %>
                        <div class="password-toggle">
                            <input type="password" name="password" id="org_password" placeholder="Password" required>
                            <img src="images/eye-icon-cross.png" onclick="togglePasswordVisibility('org_password')" alt="Toggle Password">
                        </div>
                        <div class="password-toggle">
                            <input type="password" name="confirm_password" id="org_confirm_password" placeholder="Confirm Password" required>
                            <img src="images/eye-icon-cross.png" onclick="togglePasswordVisibility('org_confirm_password')" alt="Toggle Password">
                        </div>
                        <input type="hidden" name="role" value="organisation"><br>
                        <button type="submit">Signup</button>
                    </form>
                    <p style="font-family: 'Book Antiqua', serif;"> have an account? <a href="/login" style="color: #6f5045;">login</a></p>
                </div>
                
            </div>
            <div class="right-block">
                <img src="/images/feature2_white.png" alt="Hope Community" style="width: 80px; height: 100px;"><br>
                <h2>Signup Here!</h2>
            </div>
        </div>
    </div>
    <script>
        function showDonorForm() {
            document.getElementById('donorBtn').classList.add('active');
            document.getElementById('orgBtn').classList.remove('active');
            document.getElementById('donorForm').classList.add('active');
            document.getElementById('orgForm').classList.remove('active');
        }
    
        function showOrgForm() {
            document.getElementById('orgBtn').classList.add('active');
            document.getElementById('donorBtn').classList.remove('active');
            document.getElementById('orgForm').classList.add('active');
            document.getElementById('donorForm').classList.remove('active');
        }
    
        function togglePasswordVisibility(fieldId) {
            var passwordField = document.getElementById(fieldId);
            var icon = passwordField.parentNode.querySelector("img");
    
            if (passwordField.type === "password") {
                passwordField.type = "text";
                icon.src = "images/eye-icon.png"; 
            } else {
                passwordField.type = "password";
                icon.src = "images/eye-icon-cross.png";
            }
        }
    
        function validatePasswords() {
            var password = document.getElementById('donor_password').value;
            var confirmPassword = document.getElementById('donor_confirm_password').value;
            
            if (password !== confirmPassword) {
                alert('Passwords do not match');
                return false;
            } 
            return true;
        }
    
        document.getElementById('donor_signup_form').addEventListener('submit', function(event) {
            if (!validatePasswords()) {
                event.preventDefault();
            }
        });
        showDonorForm();
    </script>
</body>
</html>
